#header {
    background-color: white;
    height: 4em;
    position: relative;
  }
  
  #main {
    padding-top: 2em;
  }
  
  .visible {
    display: initial;
  }
  
  .hidden {
    display: none !important;
  }
  
  .floating {
    position: fixed;
    z-index: 10000000;
    top: 0;
    right: 0;
    height: inherit;
    width: 30em;
  }
  